<form>
    <div class="field is-horizontal">
        <div class="field-body">

            <div class="field is-narrow"> 
                <div class="control">
                    <div>
                        <input type="number" style="width: 100px;" class="input" placeholder="Amount">
                    </div>
                </div>
            </div>

            <div class="field"> 
                <div class="control">
                    <div>
                        <input type="text" class="input" placeholder="Description">
                    </div>
                </div>
            </div>

            <div class="field is-narrow"> 
                <button class="button is-primary">Add</button>
            </div>

        </div>
    </div>
</form>